.channelRow {
    display: flex;
    flex-direction: column;
}

.channelRow__avatar {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.channelRow__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.channelRow__info > p{
    color: #606060;
    font-size: small !important;
}
