.searchfeed {
    flex:0.8;
    padding: 40px 20px;
    padding-bottom: 0;
}

.searchfeed__filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
}

.searchfeed__filter > h2 {
    margin-left: 10px;
}

.searchfeed > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}